<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
               <!-- <a class="extra" href="/">home</a> -->
            </div>
            <dir class="body">  
              <h2 class="subtitle"> Hi, I'm Wang.</h2>
              <p class="content">
                Right now I'm a senior student in University of Texas at Austin,
                majoring in 
                <a href="https://www.cs.utexas.edu/">Computer Science.</a> <br />
                I will begin my Master program in Fall 2014. <br />
              </p>
            </dir>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                Contact Me: <br />
                Linkedin Me: 
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="mailto:wrao@utexas.edu">wrao@utexas.edu</a><br />
                  <a href="http://www.linkedin.com/profile/view?id= 
                  48797803&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&trk=spm_pic">
                  My Linkedin Profile</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
